.box {
  border: 2px dotted rgb(96 139 168);
  display: flex;
  align-items:center;

  justify-content: space-between;
}

.box div {
  width: 100px;
  height: 100px;
  background-color: rgb(96 139 168 / 0.2);
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  
}


.box text {
  width: 100px;
  height: 100px;
  display: flex;
  align-items:center;

  justify-content: space-between;
}
